@keyframes fade {
                    from {opacity: 0%; margin-top: -2vw;}
                    to {opacity: 100%; margin-top: 0;}
                }

@keyframes opacity {
                    from {opacity: 0%;}
                    to {opacity: 100%;}
                }

body{
    margin: auto;
    background-color: black;
    font-family: "Cal Sans", sans-serif;
}

/* MAIN */

.main{
    float: left;
    position: fixed;
    width: 75%;
    height: 100%;
}
#shade{
    z-index: 1;
    display: block;
    float: left;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 75%;
}
#background{
    display: block;
    width: 100%;
    height: 100%;
    filter: blur(2px);
}
#overlay{
    z-index: 2;
    display: block;
    position: fixed;
    left: 11.5vw;
    top: 28%;

    animation-name: fade;
                    animation-duration: 1.5s;
                    animation-timing-function: ease-in-out;
                    animation-fill-mode: both;
}
#album{
    width: 20vw;
    float: left;
    border: 1.05vw solid white;
    border-radius: 0.5vw;
    box-shadow: 0.25vw 0.25vw 2vw white;
}
h1{
    position: relative;
    float: right;
    width: 30vw;
    top: 1.5vw;
    left: 1.5vw;
    color: white;
    font-family: "Cal Sans", sans-serif;
    font-size: 4.5vw;
    text-align: center;
}

/* SIDEBAR*/

aside{
    float: right;
    position: fixed;
    width: 25%;
    height: 100%;
    left: 75%;
}
/* .hover{
    z-index: 3;
    position: fixed;
    float: right;
    width: 25%;
    height: 25%;
    background-color: black;
} */
.slink{
    position: fixed;
    width: 25%;
    height: 25%;
    background-color: #f80c8a;
    border-style: solid;
    border-width: 0px 0px 0px .35vw;
    border-color: white;
    color: #4cf889;
    font-family: "Cal Sans", sans-serif;
    text-align: center;
}
.label{
    position: relative;
    top: 22%;
    padding: .5%;
    font-size: 2vw;
}
#l01{
    top: 0%;
    border-style: solid;
    border-width: 0px 0px 0px .35vw;
}
#l02{
    top: 25%;
    border-style: solid;
    border-width: .35vw 0px 0px .35vw;
}
#l03{
    top: 50%;
    border-style: solid;
    border-width: .35vw 0px 0px .35vw;
}
#l04{
    top: 75%;
    border-style: solid;
    border-width: .35vw 0px 0px .35vw;
}
/* #h02{
    top: 25%;
    border-style: solid;
    border-width: .35vw 0px 0px .35vw;
}
#h03{
    top: 50%;
    border-style: solid;
    border-width: .35vw 0px 0px .35vw;
}
#h04{
    top: 75%;
    border-style: solid;
    border-width: .35vw 0px 0px .35vw;
}
.slink:hover + #h01{
    display: block;
} */

/* Lyrics */
#lyrics{
    background-color: #3e1436;
}
#overlay-l{
    z-index: 2;
    display: block;
    position: relative;
    width: 60%;
    left: 7%;
}
.lyrics{
    position: relative;
    margin-top: 5%;
    background-color: black;
    padding: 1vw 2vw;
    border: 0.75vw solid white;
    border-radius: 1.25vw;
    font-family: "Cal Sans", sans-serif;
    font-size: 1.25vw;
    color: white;
    box-shadow: 0.05vw 0.05vw 1vw white;

    animation-name: opacity;
            animation-duration: 1.5s;
            animation-timing-function: ease-in-out;
            animation-fill-mode: both;
}
#bmn, #sk{
    top: 2.5%;
    margin-bottom: 5%;
}

/* ALBUMS */
#albums{
    background-color: #3e1436;
}
#overlay-a{
    z-index: 2;
    display: block;
    position: relative;
    width: 70%;
    left: 2.5%;
}
.aphoto{
    display: inline-block;
    position: relative;
    width: 35%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-bottom: 3%;
    border: 0.75vw solid white;
    border-radius: 0.5vw;
    box-shadow: 0.5vw 0.5vw 1vw white;

    animation-name: opacity;
            animation-duration: 1.5s;
            animation-timing-function: ease-in-out;
            animation-fill-mode: both;
}
.ahead{
    margin-top: 4%;
    margin-bottom: 4%;
    color: white;
    text-align: center;
    font-family: "Cal Sans", sans-serif;
    font-size: 2.5vw;
}
